#brew-wrapper {
    display: flex;
    flex: 0 1 100%;
}

#brew-list {
    flex: 0 0 200px;
    background-color: #545454;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    .brew-item {
        color: #fff;
        cursor: pointer;
        padding: 12px 10px;
        &.active {
            position: relative;
            &::after {
                content: "";
                background-color: #fff;
                height: 29px;
                width: 29px;
                position: absolute;
                right: -15px;
                bottom: 5px;
                transform: rotate(45deg);
            }
        }
    }
}

#brew-content {
    flex: 0 1 100%;
    padding: 20px;
    #brew-content-top {
        display: flex;
        h2 {
            margin: 0;
        }
        #top-buttons {
            margin: auto 0;
            margin-left: auto;
            display: none;
            &.loaded {
                display: block;
            }
        }
    }
}

#login-form {
    padding: 12px;
    margin-top: auto;
    input[name=username] {
        margin-bottom: 8px;
    }
    input[type=submit] {
        display: none;
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}