<!-- <html>
    <head>
        <meta charset="utf-8" /> 
        <title>BrewLog</title>
        <link href="css/style.css" rel="stylesheet" />
        <script src="js/script.js"></script>
    </head>
    <body ng-app="app">
        <div id="main-wrapper">
            <div id="header" ng-controller="HeaderController">
               
            </div>
            <div ng-controller="BrewsController" id="brew-wrapper">
                <div id="brew-list">
                    <div ng-repeat="brew in brews" ng-click="selectBrew(brew)" class="brew-item" ng-class="{'active': brew === selectedBrew}">
                        <span>{{brew.name}}</span>
                    </div>
                    <div class="brew-item new-item" ng-class="{'saving': saving}">
                        <input placeholder="Lägg till" type="text" ng-model="newBrew" ng-keyup="$event.keyCode !== 13 || saveBrew()">
                    </div>
                </div>
                <div id="brew-content">
                    <h2 ng-bind="selectedBrew.name"></h2>
                </div>
            </div>
        </div>
    </body>
</html> -->